<div id="mainNav">
h
</div>
<div class="hold-all">
    <div id="sidebar">
        sidebar
    </div>
    <div id="conversation-list">
        {{collection:conversations}}
            <div class="collection-card active">
                <h5>
                    {{title}}
                </h5>
                <p class="caption">
                    {{excerpt}}
                </p>
            </div>
            
        {{/collection:conversations}}
    </div>
    <div id="conversation">
        <div id="conversation-header"></div>
    </div>
    <div id="insights">
        <div class="card">
            <h6>Activity</h6>
            {{activity}}
            {{activity_summary}}
            {{/activity}}
        </div>
    </div>
</div>